.multiButton__wrapper {
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.multiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 50px;
    height: 50px;
    background: tomato;
    border-radius: 50%;
    border: none;
    fill: white;
}

.multiButton svg {
    width: 100%;
}

.multiButton__menu {
    display: none;
}

.multiButton__menu_active {
    display: block;
    background: var(--color-menu-tool);
    padding: 10px;
    color: black;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 18px -14px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%);
}

.multiButton__menuList {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    color: var(--color-text);
}

.multiButton__menuItem {
    width: 100%;
}

.multiButton__menuItem:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-text);
}

.multiButton__timer {
    padding: 0;
    color: var(--color-text);
    background: none;
    border: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.multiButton__menuLabel {
    display: flex;
    align-items: center;
}
