---
title: Recipes AeroPress
description: Recipes AeroPress - direct and inverted brewing methods.
layout: page.njk
---
<main class="wrapper">
    {% import 'list.njk' as aeropress %}
    {{ aeropress.field('Aeropress', collections.aeropress, 'aeropress', page)}}
</main>
