.item {
    box-shadow: var(--common-box-shadow);
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: var(--color-secondary-background);
}

.item__link {
    text-decoration: none;
    color: inherit;
}

.item__main-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
}

.main-info__item {
    display: flex;
    align-items: center;
}

.main-info__item svg {
    width: 1em;
    height: 1em;
    margin-right: 5px;
    fill: var(--fill-icons)
}

.item__name{
    font-weight: bold;
    margin-bottom: 1.2em;
}

@media (max-width: 410px) {
    .item__main-info {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}
