.select__wrapper {
    margin-bottom: 20px;
    font-size: 18px;
}

.select {
    font-size: 18px;
    margin-left: 10px;
    box-shadow: var(--common-box-shadow);
    border-radius: 5px;
    border: 1px solid var(--color-selet-border);
    background-color: var(--color-background);
    padding: 4px;
}
