{% macro field(title, items) %}
    <section class="category">
        <div class="category__top">
            <h2 class="category__title">{{ title }}</h2>
            <button class="toggle-items" aria-label="Свернуть раздел">
                <svg role="img" aria-hidden="true" width="28" height="28" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 847 847">
                    <path d="M242 298l181 185 182-185c24-25 65 16 40 41L440 550c-9 9-24 9-32 0L201 339c-24-25 17-66 41-41z"/>
                </svg>
            </button>
        </div>
        <div class="category__list">
            {%- for item in items -%}
                {% import 'item/item.njk' as itemView %}
                {{ itemView.field(item.data, item.url)}}
            {%- endfor -%}
        </div>
    </section>
{% endmacro %}
