<meta charset="utf-8">
<title>
    {% set mainPage = ['/', page.lang, '/'] | join %}
    {{ title }}{% if page.url != mainPage %} — {{site.name_site}}{% endif %}
</title>

<meta name="description" content="{{ description }}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{site.name_site}}">
<meta property="og:site_name" content="{{site.description}}">
<meta property="og:url" content="{{site.url}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{site.name_site}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:site" content="{{site.url}}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preload" href="/fonts/montserrat.woff2" crossorigin as="font" type="font/woff2">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/main.js" defer></script>
