<div class="select__wrapper">
    Тема:
    <select class="select">
        <option value="auto">Авто</option>
        <option value="light" selected>Светлая</option>
        <option value="dark">Темная</option>
    </select>
</div>
<div class="select__wrapper">
    Язык:
    <select class="select">
        <option value="ru">Ru</option>
        <option value="en" selected>Eng</option>
        <option value="es">Esp</option>
    </select>
</div>

