{% macro settingsItem(name, list, id) %}
    <div class="settingsItem">
        <label class="settingsItem__label">
            {{ name }}:
            <select id={{ id }} class="settingsItem__select">
                {%- for item in list -%}
                    <option value={{ item.value }} class="settingsItem__selectOption">{{ languages[page.lang][id][item.value] }}</option>
                {%- endfor -%}
            </select>
        </label>
    </div>
{% endmacro %}

