{% macro field(name, list) %}
    <div class="settingsItem">
        <label class="settingsItem__label">
            {{ name }}:
            <select class="settingsItem__select">
                {%- for item in list -%}
                    <option value={{ item.value }}>{{ item.name }}</option>
                {%- endfor -%}
            </select>
        </label>
    </div>
{% endmacro %}

