{% macro field(items) %}
    <div class="settings">
        {%- for item in items -%}
            {% import 'settings/settingsItem.njk' as settingsItem %}
            {{ settingsItem.field(item.name, item.list)}}
        {%- endfor -%}
    </div>
{% endmacro %}

