{% macro field(svgName, name, languages) %}
    <div class="author">
        <span class="author__desc">{{languages.author}}:</span>
        {% if svgName %}
            <svg class="inline-svg-icon author__logo">
                <use xlink:href="/img/sprite.svg#{{ svgName }}"></use>
            </svg>
        {% endif %}
        {{ name }}
    </div>
{% endmacro %}
