{% macro field(svgName, name) %}
    <div class="item__author"><span class="item__desc">Автор:</span>
        <svg class="inline-svg-icon">
            <use xlink:href="/img/sprite.svg#{{ svgName }}"></use>
        </svg>
        {{ name }}
    </div>
{% endmacro %}
