{% macro field(item, url, languages) %}
<article class="item">
    <a class="item__link" href="{{url}}">
        {% from 'item/title.njk' import titleView with context %}
        {{ titleView(item.sort, item.name)}}

        {% import 'item/main-info.njk' as mainInfoView %}
        {{ mainInfoView.field(item.coffeeWeight, item.water, item.time, item.temperature, item.ice)}}

        {% import 'item/author.njk' as authorView %}
        {{ authorView.field(item.authorImg, item.author, languages)}}
    </a>
</article>
{% endmacro %}
