{% macro field(coffeeWeight, water, time, temperature, ice) %}
    <div class="item__main-info main-info">
        {% if coffeeWeight %}
            <div class="main-info__item">
                {% svg "coffee", "inline-svg-icon" %}
                {{ coffeeWeight }}
            </div>
        {% endif %}
        {% if water %}
        <div class="main-info__item">
            {% svg "water", "inline-svg-icon" %}
            {{ water }}
        </div>
        {% endif %}
        {% if time %}
        <div class="main-info__item">
            {% svg "time", "inline-svg-icon" %}
            {{ time }}
        </div>
        {% endif %}
        {% if temperature %}
        <div class="main-info__item">
            {% svg "temperature", "inline-svg-icon" %}
            {{ temperature }}
        </div>
        {% endif %}
        {% if ice %}
            <div class="main-info__item">
                {% svg "ice", "inline-svg-icon" %}
                {{ ice }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
