{% macro field(coffeeWeight, water, time, temperature, ice) %}
    <div class="item__main-info main-info">
        {% if coffeeWeight %}
            <div class="main-info__item">
                <svg class="inline-svg-icon">
                    <use xlink:href="/img/sprite.svg#coffee"></use>
                </svg>
                {{ coffeeWeight }}
            </div>
        {% endif %}
        {% if water %}
        <div class="main-info__item">
            <svg class="inline-svg-icon">
                <use xlink:href="/img/sprite.svg#water"></use>
            </svg>
            {{ water }}
        </div>
        {% endif %}
        {% if time %}
        <div class="main-info__item">
            <svg class="inline-svg-icon">
                <use xlink:href="/img/sprite.svg#time"></use>
            </svg>
            {{ time }}
        </div>
        {% endif %}
        {% if temperature %}
        <div class="main-info__item">
            <svg class="inline-svg-icon">
                <use xlink:href="/img/sprite.svg#temperature"></use>
            </svg>
            {{ temperature }}
        </div>
        {% endif %}
        {% if ice %}
            <div class="main-info__item">
                <svg class="inline-svg-icon">
                    <use xlink:href="/img/sprite.svg#ice"></use>
                </svg>
                {{ ice }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
