{% macro titleView(sort, name, isMainHeading) %}
    {% if isMainHeading %}
        <h1 class="item__name">{{ name }}</h1>
    {% else %}
        <h3 class="item__name">{{ name }}</h3>
    {% endif %}
{% endmacro %}

