<button class="header__burger" id="menuButton" aria-label="Меню"></button>

<div class="header__menu">
    <nav class="header__nav">
        <p class="header__separatorText">Разделы</p>
        <ul class="header__navList">
            <li><a href="/pourover/">Пуровер / V60</a></li>
            <li><a href="/aeropress/">Аэропресс</a></li>
            <li><a href="/cezve/">Джезва/Турка</a></li>
            <li><a href="/coldbrew/">Cold brew</a></li>
            <li><a href="/chemex/">Chemex</a></li>
        </ul>
        <a href="">О проекте</a>
        <a href="">Настройки</a>
    </nav>
</div>
