<button class="header__burger" id="menuButton" aria-label="{{ languages[page.lang].menu }}"></button>

<div class="header__menu">
    <nav class="header__nav">
        <p class="header__separatorText">{{ languages[page.lang].sections }}</p>
        <ul class="header__navList">
            {%- for item in site.categories -%}
                <li><a href="{{ ['/', page.lang, '/', item, '/'] | join }}">{{ languages[page.lang][item] }}</a></li>
            {%- endfor -%}
        </ul>
        <a href="{{ ['/', page.lang, '/settings/'] | join }}">{{ languages[page.lang].settings }}</a>
        <a href="{{ ['/', page.lang, '/about/'] | join }}">{{ languages[page.lang].about }}</a>
    </nav>
</div>
