<footer class="footer">
    {% set lang = 'ru' if  page.lang === 'en' else 'en' %}
    <p lang={{lang}}>
        {{languages[lang].switch}}
        <a href="{{page.url.replace(page.lang, lang)}}">
            {{languages[lang].switchTo}}
        </a>
    </p>

    <p {{'lang=en' if page.lang == 'ru'}} >
        Source code <a href="https://github.com/OdinVerst/trycoffee">GitHub</a>
    </p>
</footer>
