---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<footer>
	<p>
		Source code <a href="https://github.com/OdinVerst/trybrew" target="_blank">GitHub</a>
	</p>
</footer>

<style>
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: var(--color-secondary-background);
		text-align: center;
		padding: 1em;
		border-top: 1px solid var(--color-footer-boder);
	}

	.footer a {
		color: var(--color-link-text);
	}

	.footer p:not(:last-of-type) {
		margin-right: 1em;
	}

	@media screen and (max-width: 600px) {
		.footer {
			display: block;
		}
		.footer p:not(:last-of-type) {
			margin-right: 0;
		}
	}
</style>
