---
title: Recipes Chemex
description: Recipes Chemex
layout: page.njk
---
<main class="wrapper">
    {% import 'list.njk' as chemex %}
    {{ chemex.field('Chemex', collections.chemex, 'chemex', page)}}
</main>
