---
title: Рецепты Chemex (Кемекс)
description: Рецепты Chemex (Кемекс)
layout: page.njk
---
<main class="wrapper">
    {% import 'list.njk' as chemex %}
    {{ chemex.field('Chemex', collections.chemex, 'chemex', page, languages)}}
</main>
