<div class="contributors">
    <ul class="contributors__list">
        {% for contributor in contributors %}
            <li class="contributors__item">
                <a class="contributors__link" href="{{ contributor.html_url }}" aria-label="Account {{contributor.login}} on github" target="_blank"></a>
                <img src="{{ contributor.avatar_url}}" alt="{{contributor.login}}" width="40" height="40" loading="lazy" decoding="async" />
            </li>
        {% endfor %}
     </ul>
</div>
