---
import RecipeCard from '../../components/RecipeCard.astro'
import Section from '../../components/Section.astro'
import { commonMessages } from '../../i18n/locales/common/en'
import Layout from '../../layouts/Layout.astro'
import { getRecipesByMethod } from '../../utils'

// TODO: move to i18n
const title = 'Try brew'

const recipes = await getRecipesByMethod()

const locale = Astro.currentLocale
const messages = commonMessages(locale)
---

<Layout title={title}>
  {
    recipes.map(([method, recipesList]) => {
      return (
        <div class="section">
          <Section baseId={`${method}-section`}>
            <div class="title" slot="title">
              {messages[method]}
            </div>
            <div class="recipes">
              {recipesList.map(recipe => (
                <RecipeCard {recipe} />
              ))}
            </div>
          </Section>
        </div>
      )
    })
  }
</Layout>

<style>
  .section {
    margin-block-end: 36px;
  }

  .title {
    font-size: 24px;
    text-transform: capitalize;
    padding-inline-start: 16px;
  }

  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 32px;
  }
</style>
