*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    background: var(--color-background);
    color: var(--color-text);
}

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1em;
}
