---
title: Летние рецепты кофе
description: Летние рецепты кофе от обжарщиков со всего мира

layout: page.njk
---
<main class="wrapper">
    {% import 'list.njk' as pourover %}
    {{ pourover.field('Лето', collections.summer, 'summer', page, languages)}}
</main>
