.header__burger {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
}

.header__burger::before,
.header__burger::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-text);
}

.header__burger::before {
    transform: translateY(-100%);
}


.header__burger::after {
    transform: translateY(100%);
}

.header__wrapper.open .header__burger::after {
    transform: rotate(45deg);
}

.header__wrapper.open .header__burger::before {
    transform: rotate(-45deg);
}
