.header {
    box-shadow: 0 2px 18px -14px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    background-color: var(--color-secondary-background);
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__title {
    font-size: 25px;
    text-align: center;
}
