.header {
    box-shadow: var(--common-box-shadow);
    margin-bottom: 30px;
    background-color: var(--color-secondary-background);
}

.header__wrapper {
    display: grid;
    grid-template-columns: 30px auto 30px;
    gap: 10px;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__title {
    font-size: 25px;
    text-align: center;
}
