.header__menu {
    display: none;
}

.header__wrapper.open .header__menu {
    display: block;
    grid-column: 1/ 4;
}

.header__nav {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px 10px 35px;
    position: relative;
    gap: 18px;
    color: var(--color-text);
}

.header__nav a {
    color: var(--color-text);
}

.header__navList {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    gap: 18px;
    display: grid;
}

.header__separatorText {
    margin: 0;
}
