.settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 1em;
    margin-bottom: 2em;
}

.settingsItem {
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--common-box-shadow);
}


.settingsItem__label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.settingsItem__select {
    position: relative;
    font-size: 1.2em;
    text-align: right;
    border: none;
    border-radius: 4px;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg fill='black' aria-hidden='true' width='28' height='28' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 847 847'%3E%3Cpath d='M242 298l181 185 182-185c24-25 65 16 40 41L440 550c-9 9-24 9-32 0L201 339c-24-25 17-66 41-41z'/%3E%3C/svg%3E");
    background-size: 16px;
    background-position: right 5px;
    background-repeat: no-repeat;
    appearance: none;
    padding: 0 20px 0 0;
    color: var(--color-text);
    outline: none;
}

.settingsItem__select:focus-visible {
  outline: 2px solid var(--color-focus);
}

/* Seems there is no other way to change colors inside bg-image */
:root[data-theme='dark'] .settingsItem__select {
    background-image: url("data:image/svg+xml,%3Csvg fill='white' aria-hidden='true' width='28' height='28' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 847 847'%3E%3Cpath d='M242 298l181 185 182-185c24-25 65 16 40 41L440 550c-9 9-24 9-32 0L201 339c-24-25 17-66 41-41z'/%3E%3C/svg%3E");
}

.settingsItem__selectOption {
    background-color: var(--color-menu-tool);
}

