---
title: О нас - Try brew
description: Try brew
layout: page.njk
permalink: about.html
---

<main class="wrapper about">
    <span>Try brew - Это open source проект созданный любителями кофе для получения новых вкусовых эмоций.
    <br/>
    <br/>
    Работает на <a href="https://www.11ty.dev/">Eleventy</a>. </span>Source code <a href="https://github.com/OdinVerst/trycoffee">GitHub</a> .
    <br/>
    <br/>
    Пожелания и предложения можно отправить на: <a href="mailto:trycoffee.app@gmail.com">trycoffee.app@gmail.com</a>
    <br/>
    <br/>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="trybrew" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</main>
