---
title: О нас - Try brew
description: Try brew
layout: page.njk
permalink: about.html
---

<main class="wrapper about">
    <span>{{languages[page.lang].page_about.title}}
    <br/>
    <br/>
    {{languages[page.lang].page_about.works_on}} <a href="https://www.11ty.dev/">Eleventy</a>. </span>{{languages[page.lang].page_about.source_code}} <a href="https://github.com/OdinVerst/trycoffee">GitHub</a> .
    <br/>
    <br/>
    {{languages[page.lang].page_about.suggestions}} <a href="mailto:trycoffee.app@gmail.com">trycoffee.app@gmail.com</a>
    <br/>
    Пожелания и предложения можно отправить на: <a href="mailto:trycoffee.app@gmail.com">trycoffee.app@gmail.com</a>
</main>
