---
title: Try brew
description: Try brew
layout: page.njk
permalink: index.html
---

<main class="wrapper">
    {% import 'list.njk' as pourover %}
    {{ pourover.field(languages[page.lang].pourover, collections.pourover, "/pourover/" | locale_url, page, languages)}}

    {% import 'list.njk' as aeropress %}
    {{ aeropress.field(languages[page.lang].aeropress, collections.aeropress, "/aeropress/" | locale_url, page, languages)}}

    {% import 'list.njk' as cezve %}
    {{ cezve.field(languages[page.lang].cezve, collections.cezve, "/cezve/" | locale_url, page, languages)}}

    {% import 'list.njk' as coldbrew %}
    {{ coldbrew.field(languages[page.lang].coldbrew, collections.coldbrew, "/coldbrew/" | locale_url, page, languages)}}

    {% import 'list.njk' as chemex %}
    {{ chemex.field(languages[page.lang].chemex, collections.chemex, "/chemex/" | locale_url, page, languages)}}
</main>

