---
title: TRY COFFEE
description: TRY COFFEE
layout: page.njk
permalink: index.html
---

<main class="wrapper">
    {% import 'list.njk' as pourover %}
    {{ pourover.field('Пуровер / V60', collections.pourover)}}

    {% import 'list.njk' as aeropress %}
    {{ aeropress.field('Аэропресс', collections.aeropress)}}

    {% import 'list.njk' as cezve %}
    {{ cezve.field('Джезва/Турка', collections.cezve)}}

    {% import 'list.njk' as coldbrew %}
    {{ coldbrew.field('Cold brew', collections.coldbrew)}}s
</main>

