---
title: TRY COFFEE
description: TRY COFFEE
layout: page.njk
permalink: 404.html
---

<main class="wrapper">
    <h1>Страница не найдена</h1>
    <p>Возможно, данный рецепт ещё не создан или что-то случилось...</p>
    <a href="/">Перейти на главную</a>
</main>
