---
title: Страница не найдена - Try brew
description: Try brew
layout: page.njk
permalink: 404.html
---

<main class="wrapper">
    <h1>{{languages[page.lang].page_notFound.title}}</h1>
    <p>{{languages[page.lang].page_notFound.subtitle}}</p>
    <a href="/">{{languages[page.lang].page_notFound.link}}</a>
</main>
