---
title: Настройки - Try brew
description: Try brew
layout: page.njk
permalink: settings.html
---

<main class="wrapper">
    {% import 'heading.njk' as heading %}
    {{ heading.field('Настройки') }}
    {% include 'settings/lang.njk' %}
</main>
