---
title: Рецепты Джезва (Турка)
description: Рецепты Джезва (Турка) классические и необычные рецепты
layout: page.njk
---
<main class="wrapper">
    {% import 'list.njk' as cezve %}
    {{ cezve.field('Джезва/Турка', collections.cezve, 'cezve', page)}}
</main>
