.contributors__list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    gap: 10px;
}

.contributors__item {
    position: relative;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
}

.contributors__item:hover {
    outline: 2px solid var(--color-link-text);
}

.contributors__link {
    position: absolute;
    inset: 0;
}

