---
import { commonMessages } from '@/i18n/locales/common/en'

const messages = commonMessages(Astro.currentLocale)

const currentLocale = Astro.currentLocale || 'en'
const altLocale = currentLocale === 'ru' ? 'en' : 'ru'
const altMessages = commonMessages(altLocale)

const altLangLink = Astro.url.pathname.replace(currentLocale, altLocale)
const altLangHTMLLink = `<a href="${altLangLink}">${altMessages.languageName}</a>`
---

<footer class="footer">
  <p set:html={altMessages.switchTo({ link: altLangHTMLLink })} />
  <p
    set:html={messages.sourceCode({
      link: '<a href="https://github.com/OdinVerst/trybrew" target="_blank">GitHub</a>'
    })}
  />
</footer>

<style>
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-secondary-background);
    text-align: center;
    padding: 12px;
    border-top: 1px solid var(--color-footer-boder);
  }

  .footer p:not(:last-of-type) {
    margin-right: 1em;
  }

  @media screen and (max-width: 600px) {
    .footer {
      display: block;
    }
    .footer p:not(:last-of-type) {
      margin-right: 0;
    }
  }
</style>
