---
import type { GetStaticPaths } from 'astro'
import type { CollectionEntry } from 'astro:content'

import RecipeCard from '@/components/RecipeCard.astro'
import Section from '@/components/Section.astro'
import { commonMessages } from '@/i18n/locales/common/en'
import Layout from '@/layouts/Layout.astro'
import { getCollectionByLocale } from '@/utils'

const locale = Astro.currentLocale || 'en'
const recipes = await getCollectionByLocale('recipes', locale)
const displayOrder = ['pourover', 'aeropress', 'cezve', 'chemex', 'coldbrew', 'summer']

const groupedRecipes = Object.entries(
  recipes.reduce<Record<string, CollectionEntry<'recipes'>[]>>((methods, recipe) => {
    const method = recipe.data.method
    if (method) {
      methods[method] = methods[method] || []
      methods[method].push(recipe)
    }
    return methods
  }, {})
).sort((a, b) => {
  const orderA = displayOrder.indexOf(a[0])
  const orderB = displayOrder.indexOf(b[0])
  return orderA - orderB
})

const messages = commonMessages(locale)

export const getStaticPaths = (async () => [
  { params: { lang: 'ru' } },
  { params: { lang: 'en' } }
]) satisfies GetStaticPaths
---

<Layout description={messages.description} title={messages.title}>
  {
    groupedRecipes.map(([method, recipesList]) => {
      return (
        <div class="section">
          <Section baseId={`${method}-section`}>
            <div class="title" slot="title">
              {messages[method as keyof typeof messages]}
            </div>
            <div class="recipes">
              {recipesList.map(recipe => (
                <RecipeCard {recipe} />
              ))}
            </div>
          </Section>
        </div>
      )
    })
  }
</Layout>

<style>
  .section {
    margin-block-end: 36px;
  }

  .title {
    font-weight: bold;
    color: var(--color-text);
    font-size: 24px;
    text-transform: capitalize;
    margin: 0;
  }

  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 32px;
  }
</style>
