---
title: Рецепты filter кофе V60
description: Рецепты фильтр кофе V60 от обжарщиков со всего мира

layout: page.njk
---
<main class="wrapper">
    {% import 'category/list.njk' as pourover %}
    {{ pourover.field('Пуровер / V60', collections.pourover)}}
</main>
