---
title: Try brew
description: Try brew
layout: page.njk
permalink: en/index.html
---

<main class="wrapper">
    {% import 'list.njk' as pourover %}
    {{ pourover.field('Пуровер / V60', collections.pourover, "/pourover/" | locale_url, page) }}

    {% import 'list.njk' as aeropress %}
    {{ aeropress.field('Аэропресс', collections.aeropress, "/aeropress/" | locale_url, page) }}

    {% import 'list.njk' as cezve %}
    {{ cezve.field('Джезва/Турка', collections.cezve, "/cezve/" | locale_url, page) }}

    {% import 'list.njk' as coldbrew %}
    {{ coldbrew.field('Cold brew', collections.coldbrew, "/coldbrew/" | locale_url, page) }}

    {% import 'list.njk' as chemex %}
    {{ chemex.field('Chemex', collections.chemex, "/chemex/" | locale_url, page) }}
</main>

