---
title: Try brew
description: Try brew
layout: page.njk
permalink: en/index.html
---

<main class="wrapper">
    {% import 'list.njk' as listCategory %}
    {% for category in site.categories %}
        {% set urlCategory = ['/', category, '/'] | join  %}
        {{ listCategory.field(languages[page.lang][category], collections[category], urlCategory | locale_url, page) }}
    {% endfor %}
</main>

