---
title: Try brew
description: Try brew
layout: page.njk
---

<section class="detail wrapper">
    {% import 'item/title.njk' as titleView %}
    {{ titleView.field(sort, name)}}

    {% import 'item/main-info.njk' as mainInfoView %}
    {{ mainInfoView.field(coffeeWeight, water, time, temperature, ice)}}


    {{ content | safe }}

    {% import 'item/authorDetail.njk' as authorView %}
    {{ authorView.field(authorImg, author, linkRecipe)}}
</section>
