---
title: Try brew
description: Try brew
layout: page.njk
---

<section class="detail wrapper">
    {% from 'item/title.njk' import titleView with context %}
    {{ titleView(sort, name, 'true')}}

    {% import 'item/main-info.njk' as mainInfoView %}
    {{ mainInfoView.field(coffeeWeight, water, time, temperature)}}

    {{ content | safe }}

    {% import 'item/authorDetail.njk' as authorView %}
    {{ authorView.field(authorImg, author, linkRecipe, languages[page.lang])}}
</section>
