<!DOCTYPE html>
<html class="page" lang="{{ locale }}" dir="{{ dir }}">
<head>
    {% include 'meta.njk' %}
</head>
<body class="page__body">
    {% include 'header/header.njk' %}
    {{ content | safe }}
    {% include 'footer/footer.njk' %}
</body>
</html>
