---
title: Настройки - Try brew
description: Try brew
layout: page.njk
permalink: settings.html
---
{% macro settings() %}
<main class="wrapper">
    {% import 'heading.njk' as heading %}
    {{ heading.field(languages[page.lang].settings) }}

    {% from 'settings/settings.njk' import settings with context %}
    {{ settings(site.settings) }}
</main>
{% endmacro %}
